.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 1036px;
    margin: 0 auto;
    align-items: center;
}

.usersCardsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 55px;
}

.wrapper .container {
    display: grid;
    grid-template-columns: 106px 1fr;
    width: 250px;
    height: 145px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 10px;
    transition: background-color linear 0.3s;
    border: 2px solid rgba(2, 136, 209, .3);
    background-color: #FFFFFF;
}

.wrapper .container:hover {
    background-color: rgba(179, 229, 252, .7);
    transition: background-color linear 0.3s;
}

.container .profileAvatar {
    margin: 3px;
}

.container .profileAvatar img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.container .buttonFollow button {
    margin-left: 3px;
    width: 100px;
    height: 21px;
    border-radius: 7px;
    border: none;
    color: #212121;
    text-transform: uppercase;
    background-color: rgba(158, 158, 158, .5);
    font-size: 12px;
    font-family: "Fira Code", sans-serif;
    cursor: pointer;
}
.container .buttonFollow button:hover {
    background-color: rgba(158, 158, 158, .9);
}

.container .textArea {
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: default;
}

.textArea .profileName {
    color: rgba(33, 33, 33, .9);
    text-transform: uppercase;
    font-family: "Fira Code", sans-serif;
    font-weight: bold;
    width: 135px;
    overflow: hidden;
}
.textArea .profileName:hover {
    width: 100%;
    z-index: 100;
    color: rgba(2, 136, 209, 1);
    margin-left: 3px;
}

.textArea .profileStatus {
    color: rgba(117, 117, 117, 1);
    font-family: "Fira Code", sans-serif;
    width: 135px;

    white-space: normal;
    overflow-x: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}

.wrapper .pagenation {
    height: 30px;
    overflow: hidden;
    font-size: 30px;
    color: rgba(33, 33, 33, .8);
    margin: 0 0 30px;
}

.pagenation .selectedPage {
    font-weight: bold;
    color: rgba(33, 33, 33, 1);
}
