.container {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    padding-top: 5px;
}

.container .control {
    background-color: rgba(3, 169, 244, 1);
}

.container .content {
    background-color: rgba(2, 136, 209, 1);
}

.container .extra {
    background-color: rgba(3, 169, 244, 1);
}
