.dark-primary-color    {    background: #0288D1;       rgba(2, 136, 209, 1);    }
.default-primary-color {    background: #03A9F4;       rgba(3, 169, 244, 1);    }
.light-primary-color   {    background: #B3E5FC;       rgba(179, 229, 252, 1);  }
.text-primary-color    {    color: #FFFFFF;            rgba(255, 255, 255, 1);  }
.accent-color          {    background: #9E9E9E;       rgba(158, 158, 158, 1);  }
.primary-text-color    {    color: #212121;            rgba(33, 33, 33, 1);     }
.secondary-text-color  {    color: #757575;            rgba(117, 117, 117, 1);  }
.divider-color         {    border-color: #BDBDBD;     rgba(189, 189, 189, 1);  }
