.container {
    position: relative;
    height: 100%;
}


.navTgl {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    padding: 0;
    background: rgba(179, 229, 252, .5);
    box-shadow: 0 5px 15px rgba(2, 136, 209, .5);
    line-height: 0.6;
    text-align: center;
}

.navTgl > span {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 24px;
    border-radius: 1px;
    background: rgba(2, 136, 209, 1);
    vertical-align: middle;
}

.navTgl > span:before, .navTgl > span:after {
    display: inline-block;
    position: absolute;
    content: "";
    height: 2px;
    border-radius: 1px;
    background: rgba(2, 136, 209, 1);
    transition: all 200ms;
}

.navTgl > span:before {
    top: -8px;
    left: 3px;
    width: 18px;
}

.navTgl > span:after {
    top: 8px;
    left: 3px;
    width: 18px;
}

.navTgl:focus {
    outline: none;
}

.navTgl:hover > span:after, .navTgl:hover > span:before {
    width: 24px;
    left: 0;
}





.nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 310px;
    height: calc(100vh + 2px);
    background: rgba(189, 189, 189, 1);
    transition: all 200ms ease-in-out;
    clip-path: circle(20px at 278px 30px);
    visibility: hidden;
    border-radius: 20px;
    margin-left: -11px;
    margin-top: -11px;
    z-index: 7;
    overflow-y: auto;
}

.active .nav {
    visibility: visible;
    clip-path: circle(100%);
}

.active .navTgl > span {
    height: 0;
}

.active .navTgl > span:after, .active .navTgl > span:before {
    top: 0;
    left: 0;
    width: 24px;
}

.active .navTgl > span:after {
    transform: rotate(-90deg);
}

.active .navTgl > span:before {
    transform: rotate(-90deg);
}

.active ::-webkit-scrollbar {
    display: none;
}



.menuPositionLi:first-child {
    margin-top: 60px;
}

.menuPositionLi {
    list-style-type: none;
    margin-left: -40px;
    padding-left: 30px;
}

.menuPositionLi:hover {
    background-color: rgba(179, 229, 252, .4);
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(2, 136, 209, .3);

    padding-left: 35px;
    transition: all 300ms ease-in-out;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Fira Code", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
    color: rgba(33, 33, 33, 1);
}

