.App {
  display: grid;
  grid-template-rows: 60px 1fr 250px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(179, 229, 252, 1);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #bdbdbd;
  -webkit-box-shadow: inset 0 0 6px rgba(3, 169, 244, .7);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(179, 229, 252, 1);
}
